<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/upload.css">
    <link rel="icon" href="static/audio.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Audio</title>
</head>
<body>
    <div id="uploadDiv">
        <h1 id="uploadHeader">Upload Audio File</h1>
        <button id="openModalBtn">Upload</button>
    </div>
    <!-- Popup Modal -->
    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="uploadForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button id="submitBtn" type="submit">Upload</button>
            </form>
        </div>
    </div>

    <script src="static/popup.js"></script>
</body>
</html>
